{
    "okex": {
        "sub1": {
            "apiKey": "",
            "secret": "",
            "password": ""
        },
        "sub2": {
            "apiKey": "",
            "secret": "",
            "password": ""
        }
    }
}
